@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
}

.headerSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #ebe9e9;
  border-radius: 25px;
  padding: 1.2rem;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  position: relative; /* Positioning context for absolute children */
}

.headerSearchInput {
  border: 1px solid black;
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
  margin-left: 1.5rem;
  border-radius: 15px;
}

.seprator {
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: var(--text-400);
  margin: 0 1rem;
}

.headerSearchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-600);
  padding: 0.6rem;
  border-radius: 1rem;
}

.header-Icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.locationIcon {
  color: var(--rose-500);
}

.date-icon {
  color: var(--primary-700);
  position: relative;
}

.search-icon {
  display: inline-block;
  color: white;
}

.icon {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 10px;
  color: black;
}

.guestOptions {
  position: absolute;
  top: 100%;
  left: -50px;
  width: 267px;
  border: 1px solid var(--text-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  background-color: white;
  z-index: 1000;
  padding: 1rem;
}

.guestOptionItem {
  border: 1px solid var(--text-100);
  margin-top: 2px;
  color: var(--text-600);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  border-radius: 10px;
  padding: 1.3rem;
}

.optionCounter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionText {
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 3px;
}

.date {
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: -75px;
  z-index: 500;
}

.header > div:last-child {
  z-index: 1;
}

.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}

.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locationItem {
  background-color: var(--text-100);
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.locationItemDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price {
  margin: 0.4rem;
  font-weight: 500;
  color: var(--text-400);
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}
.price span {
  color: black;
}
.location {
  margin-left: 4px;
}
.name {
  color: var(--text-400);
  margin-left: 4px;
}
.optionCounterNumber {
  margin: 0 7px;
}

.appLayOut {
  display: flex;
  justify-content: center;

  flex-direction: row;
  box-sizing: border-box;
}
.sideBar {
  overflow: hidden;
  width: 30vw;
}

.searchList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4px;
  gap: 1rem;
  width: 40vw;
  box-sizing: border-box;
}
.searchList p {
  display: block;

  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchList h2 {
  display: inline-block;
  width: 40vw;
}
.searchItem {
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.searchItem img {
  object-position: center;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.searchItemDesc {
  margin-left: 6px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 50%;
  }
}

.mapContainer {
  flex: 2;
  background-color: var(--text-100);
  width: 45vw;
  z-index: -10;
}
.map {
  height: 90vh;
  width: 100%;
}
.mapContainer button.getLocation {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--primary-600);
  box-shadow: 0 0 10px var(--primary-600);
  color: #fff;
  z-index: 1000;
}

/* room detail */
.room {
  text-align: start;

  width: 28vw;
  height: 30vh;
  max-width: 1280px;
}
.roomDetails img {
  width: 28vw;
  height: 28vh;
  border-radius: 10px;
  margin-top: 10px;
}


.bookmark_list {
  margin-top: 1rem;
}
.bookmark_Item {
  margin-right: 13px;
  margin-bottom: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;

}

.bookmark_List .bookmark_Item.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
  width: 5vw;
  margin-bottom: 5px
}

.single__bookmark{
  border: 1px solid var(--text-400);
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 9px;
}

.bookmark__container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  box-sizing: border-box;
}

.bookmark__container span {
  font-weight: bold;
  margin-left: 3px;
}


.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}


/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  margin-bottom: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}


.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}